body {
    padding-bottom: 40px;
}

.container {
    width: 1170px !important;
}

.row {
    margin-left: 0 !important;
}

#clear-icon {
    position: absolute;
    top: 5px;
    right: 42px;
}

.messtable tr {
    cursor: pointer;
}

#myTab {
    margin-bottom: 0;
}

#messageModal {
    width: 1000px;
    margin-left: -500px;
}

.separator {
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    margin: 0 10px 0 10px;
}

/*.table {*/
    /*font-size: 12px;*/
/*}*/