#ba-form-r .controls {
    padding-top: 5px;
}

#ba-form-r .control-group, .controls, .control-label {
    margin: 0 10px 0 0 !important;
    padding: 0 !important;

}

#ba-form-div {
    width: 100%;
}

#butsdiv {
    margin-left: 20px;
}

#itemsTalbeDiv {
    margin-right: 20px;
}

#ba-desc {
    margin-left: 20px;
}

#ba-auth-cg {
    width: 150px !important;
}

#ba-key-cg {
    width: 140px !important;
}

#opinionTextArea {
    margin-top: 10px;
    width: 97%;
    resize: none;
}

.optext {
    margin-left: 10px;
    word-wrap: break-word;
    overflow: auto;
}

#b-img{
    height: 200px;
}
#image-div{
    width: 170px;
    float: left;
}

.right-inputs{
    width: 420px;
}
#ba-form-r .controls{
    padding-left: 80px !important;
}