.isbnColum {
    width: 13%;
}

.titleColum {
    width: 26%;
}

.langColum {
    width: 8%;
}

.authColum {
    width: 24%;
}

.keyColum {
    width: 13%;
}

.ratingColum {
    width: 8%;
}

.countColum {
    width: 8%;
    text-align: center !important;
}

#mtable {
    table-layout: fixed;
}

#mtable td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#mtable th:hover {
    cursor: pointer;
    background-color: #f7f7f7;

}

#mtable {
    margin-bottom: 5px;
}

#fmtable {
    margin-top: 5px;
}

#tabletabs {
    margin-bottom: 0;
}
