.isbnColum {
    width: 12%;
}

.titleColum {
    width: 25%;
}

.langColum {
    width: 6%;
}

.authColum {
    width: 21%;
}

.keyColum {
    width: 12%;
}

.ratingColum {
    width: 8%;
}

.countColum {
    width: 7%;
    text-align: center !important;
}

.ownersColumn{
    width: 9%;
}
#mtable {
    table-layout: fixed;
}

#mtable td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#mtable .sortC:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

#mtable {
    margin-bottom: 5px;
}

#fmtable {
    margin-top: 5px;
}

#tabletabs {
    margin-bottom: 0;
}

#fmtable li{
    cursor: pointer;
}
