.isbnColum{
    width: 130px;
    max-width: 130px;
}
.titleColum{
    width: 290px;
    max-width: 290px;
}
.langColum{
    width: 100px;
    max-width: 100px;
}
.authColum{
    width: 300px;
    max-width: 200px;
}
.keyColum{
    width: 150px;
    max-width: 150px;
}
.ratingColum{
    width: 80px;
    max-width: 80px;
}
.countColum{
    width: 80px;
    max-width: 80px;
    text-align: center !important;
}
#mtable td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
}
#mtable th :hover{
    cursor: pointer;
    background: #f7f7f7;

}
#blockHeads{

}
#mtable{
    margin-bottom: 5px;
}
#fmtable {
    margin-top: 5px;
}
#tabletabs{
    margin-bottom: 0px;
}
