
#content{
    width: 1000px;
    margin: 0 auto;
}
.isbnColum{
    width: 100px;
}
.ozonColum{
    width: 100px;
}
.titleColum{
    width: 100px;
}
.langColum{
    width: 100px;
}
.authColum{
    width: 100px;
    max-width: 100px;
}
.keyColum{
    width: 200px;
}
.ratingColum{
    width: 100px;
}
.countColum{
    width: 100px;
}
#mtable td {
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
}
#mtable{
    margin-bottom: 5px;
}
#fmtable {
    margin-top: 5px;
}
#tabletabs{
    margin-bottom: 0px;
}