#login-div .form-body{
    padding: 0 20px 0 20px;
}
#login-div h3{
    padding-left: 20px;
}
#login-submit{
    width: 220px;
}

#login-wrapper{
    margin-left: 40px;
}
.label-bold{
    font-weight: bold;
}
.forgot-pwd{
    font-size: 12px;
}
#index-table {
    table-layout: fixed;
}
#index-table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.titleColum{
    width: 50%;
}
.langColum{
    width: 20%;
}
.authColum{
    width: 30%;
}

